*{
	font-family: Arial, Verdana, sans-serif;
 }
 
body{
	background-color: #616D7E;
	margin:0;
	position: relative;
    } 
h1{
	margin:0;
	color: 	#FF8000;
   }
h2{
	margin:0;
	color: 	#FFF;
   }   
.header-div{
	margin:3%;
	position: relative;
    left: 30%;
}
.img{
	display: inline-block;
}

.body-div{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	text-align: center;
	margin-bottom:10px;

}
.small-container{
	width: 50%;
    display: inline;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 10px;
    float: left;
    text-align: center;
}

.first-container{
	width: 50%;
    display: inline;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 10px;
    float: left;
    text-align: center;
}

.big-container{
    text-align: left;
	width: 100%;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	display: inline-block;
}
.row1{
	display: flex;
}

.row2{
	display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}